<!-- FOOTER SECTION  -->
<footer>
  <div class="top-footer mt-4">
    <div class="footerImg">
      <h1>CONTACT</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 text-center text-md-left">
          <h3 class="p-md-4 p-2">About Us</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minima illo quae maiores
            laborum, mollitia possimus molestiae non totam qui?</p>
        </div>
        <div class="col-md-4 col-12 text-center text-md-left event-symbol">
          <h3 class="p-md-4 p-2">Latest News</h3>
          <p>
            <i class="fa fa-long-arrow-alt-right"></i>
            <span class="mx-2">Lorem elit. Maiores, praesentium.</span>
          </p>
          <p>
            <i class="fa fa-long-arrow-alt-right"></i>
            <span class="mx-2">Lorem elit. Maiores, praesentium.</span>
          </p>
          <p>
            <i class="fa fa-long-arrow-alt-right"></i>
            <span class="mx-2">Lorem elit. Maiores, praesentium.</span>
          </p>
          <p>
            <i class="fa fa-long-arrow-alt-right"></i>
            <span class="mx-2">Lorem elit. Maiores, praesentium.</span>
          </p>
          <p>
            <i class="fa fa-long-arrow-alt-right"></i>
            <span class="mx-2">Lorem elit. Maiores, praesentium.</span>
          </p>
        </div>
        <div class="col-md-4 col-12 ">
          <h3 class="p-md-4 p-2 text-center text-md-left">Contact Info</h3>
          <p>
            <i class="fa fa-location-arrow contact-symbol"></i>
            <span class="mx-2">8088 USA, Honey Block, New York City</span>
          </p>
          <p><i class="fa fa-envelope contact-symbol"></i>
            <span>tienluat6197@gmail.com</span></p>
          <p><i class="fa fa-mobile-alt contact-symbol"></i>
            <span>+1-403-470-3964</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12 text-center text-md-left">
          <h3>Sign up for our newsletter</h3>
        </div>
        <div class="col-md-4 col-8">
          <input class="form-control form-control--footer" type="email" name="email"
            placeholder="Enter your email address...">
        </div>
        <div class="col-4 col-md-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <p class="text-center">&copy; Vietnamese Restaurant.All rights reserved | Designed by <span style="color: #eb1616">
        <a href="https://www.linkedin.com/in/luat-nguyen-9a4525176/" target="blank" style="text-decoration: none;">Luat
          Nguyen</a></span></p>
  </div>
</footer>
