/*FOOTER*/

$main-color:white;
$font-family: 'Poppins', sans-serif;

footer {
  margin-top: 0px;
  background-color: black;
  width: 100%;
}

.top-footer {

  h3 {
    color: $main-color;
    filter: brightness(150%);
    font-family: $font-family;
  }
  p{
    color: $main-color;
  }
}


.contact-symbol {
  padding: 6px;
  border: 1px solid $main-color;
  color: $main-color;
  i{
    color: $main-color;  
  }
  &:hover{
    color: #dc3545;
    border: 1px solid #dc3545;
  }
}


.bottom-footer {
  width: 100%;
  background-color: #282828;
  margin-top: 40px;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

.top-footer .footerImg{
    background-image: url(../../../assets/img/contact-banner-background-web.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    margin-top: 60px;
    position: relative;

    h1{
        color: white !important;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 750;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-top: dotted 5px;
        border-bottom: dotted 5px;
        padding: 12px;
    }
}