    <section class="container contact-section">
      <div class="row">
        <div class="col text-center">
          <h1 class="pt-4"><strong>RESERVATION</strong></h1>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <div class="contact__line mt-3 mb-3 mb-md-5"></div>
        </div>
      </div>

      <div class="row py-3 contact-info">
        <div class="col-md-5 col-lg-4">
          <div class="contact-info__detail">
            <h3>Contact Info</h3>
            <hr>
            <div class="d-flex py-3">
              <i class="fa fa-phone-volume"></i>
              <h4>Telephone<span class="text-white"><br>403-470-3964</span></h4>

            </div>
            <div class="d-flex py-3">
              <i class="fa fa-inbox"></i>
              <h4>Mail<span class="text-white"><br>tienluat6197@gmail.com</span></h4>
            </div>
            <div class="d-flex py-3">
              <i class="fa fa-map-marker-alt"></i>
              <h4>Location<span class="text-white"><br>418 Cliffe Ave SW</span></h4>
            </div>

            <div class="contact-social">
              <i class="fab fa-facebook-f contact-fb"></i>
              <i class="fab fa-twitter contact-twitter"></i>
              <i class="fab fa-linkedin-in contact-lin"></i>
              <i class="fab fa-instagram contact-insta"></i>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-8">
          <img src="../../../assets/img/pexels-photo-274192.jpeg" class="img-fuild">
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row contact-input">
        <div class="col-md-6">
          <input type="text" placeholder="Name" class="form-control mt-2">
          <input type="text" placeholder="Email" class="form-control mt-3">
          <input type="text" placeholder="Tel" class="form-control mt-3">
          <input type="text" placeholder="Type" class="form-control mt-3">
        </div>
        <div class="col-md-6">
          <textarea placeholder="Message" class="form-control mt-2"></textarea><br>
          <button class="btn-submit">Submit</button>
        </div>
      </div>
    </section>
    <!-- MAPS SECTION  -->
    <section class="contact-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d267495.9392622192!2d-114.42127097433946!3d51.029814938560776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537170039f843fd5%3A0x266d3bb1b652b63a!2sCalgary%2C%20Alberta!5e0!3m2!1svi!2sca!4v1581489132967!5m2!1svi!2sca"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    </section>
