 <!-- WELCOME SECTION -->
 <section class="container welcome-section">
    <div class="row">
        <div class="col-sm welcome">
            <h1 class="text-center text-danger mt-5-md mt-3">WELCOME TO BEER DOES IT</h1>
            <p class="text-center text-center--custom"><strong>We deliver all fresh and tasty meals</strong></p>
            <div class="welcome__line mt-3 mb-3 mb-md-5"></div>
            <p class="text-center text-center--welcome">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dicta
                aliquid eveniet nostrum molestiae rem
                ipsam, voluptate odio nulla dolore ea, inventore possimus eius quibusdam ipsa consectetur
                magni
                quaerat explicabo accusantium provident odit optio! Sunt perspiciatis ex illum sed adipisci
                velit,
                quis ipsa dolorem vero aliquid eveniet numquam. Excepturi, recusandae molestias.</p>

        </div>
    </div>
    <!-- do not to have col (boostrap will auto resize)-->

    <div class="row mt-4">
        <div class="col-12">
            <div class="card-group">
                <div class="col-sm card border-dark">
                    <div class="card-body food-item">
                        <i class="fas fa-pepper-hot"></i>
                        <h2>SATE SUB</h2>
                        <h3>BEEF SUB</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <h3>CHICKEN SUB</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <h3>VEGIES SUB</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="col-sm card border-dark">
                    <div class="card-body food-item">
                        <i class="fas fa-utensils"></i>
                        <h2>PHO</h2>
                        <h3>BEEF SATE SOUP</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <h3>CHICKEN SATE SOUP</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <h3>VEGIES SOUP</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="col-sm card border-dark">
                    <div class="card-body food-item ">
                        <i class="fas fa-bacon"></i>
                        <h2>VEMERCELLI</h2>
                        <h3>BEEF</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <h3>CHICKEN</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <h3>SHRIMP</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
