<header id="header" class="py-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 header-left pt-1 text-md-left text-center">
                <i class="fa fa-phone"></i>
                <span class="mr-2">(403)470-3964</span>
                <i class="fa fa-envelope"></i>
                <span>tienluat6197@gmail.com</span>
            </div>
            <div class="col-md-5 header-right text-md-right text-right mt-2 mt-md-0 text-center">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-twitch"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a [routerLink]="['/main']" class="navbar-brand text-center navbar-brand--logo">
            <h1 class="mb-0">
                <i class="fa fa-utensils"></i>
                Beer Does It
            </h1>
            <p id="name">Restaurant & bar</p>
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myMenu">
            <ul class="navbar-nav navbar-nav--menu ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">SERVICE</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">GALLERY</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/pages']" class="nav-link">PAGES</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contact']" class="nav-link">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<!-- <router-oulet></router-oulet> -->